@model List<EncarnacionCoop.Entities.ClientInfo>

<h1>List of Books</h1>

<a class="btn btn-success" href="@Url.Action("Create")" > go to create</a>


<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th></th>
    </thead>
    <tbody>
    @foreach(var c in Model){
        <tr>
            <td>@c.Id</td>
            <td>@c.FirstName</td>
            <td>@c.Address</td>
            <td>
                <a class="btn btn-warning" href="@Url.Action("Update", "Books", new {id =  c.Id})"> Update</a> 
                <a class="btn btn-danger" href="@Url.Action("delete", "Books", new {id =  c.Id})"> Delete</a> 

            </td>
        </tr>
    }
</tbody>
</table>